body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Isso faz com que a área de conteúdo ocupe o restante do espaço disponível */
}

.footer {
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

.produtoSobre-footer {
  margin-top: 45px;
}

  .footer h3 {
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .social-icons a {
    margin-right: 30px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }

