.footer {
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

  .footer h3 {
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .social-icons a {
    margin-right: 30px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }