.container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.form-container{
    width: 280px;
    margin: 20px;
    padding: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-container input{
    margin-bottom: 5px;
}

.input-data{
    margin: 5px 0;
    padding: 10px 50px;
    border-radius: 10px; /* Adiciona bordas arredondadas */
    outline: none; /* Remove a borda de foco */
}

.input-radio{
    margin-top: 10px;
    margin-left: 10px;
}

.buttonEnviar{
    margin: 20px 0 0 40px;
    padding: 15px 60px;
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
}

.buttonEnviar:hover{
    cursor: pointer;
}


@media (max-width: 1370px) {
    .container{
        width: 100%;
        
    }
}